//@TODO partial bootstrap usage
@import "~bootstrap/scss/bootstrap";


// our styles
body {
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-family: Roboto Mono,monospace;
  text-shadow: 1px 1px #000;
  background: #000;
}

header {
  text-align: center;
}
