// bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

// our variables
@import "variables.scss";

// our styles
html {
  font-size: 95%;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-family: Roboto Mono,monospace;
  color: $white-font;
  text-shadow: 1px 1px #000;
  background: $body-background;
}

main {
  padding-top: 1rem;
}

figure {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

ul {
  margin-bottom: 0;
  padding-left: 1rem;
}

.terminal {
  box-shadow: 0 0 10px 1px rgba(0,0,0,.65);

  &.terminal-body {
    background: #000;
  }

  .nfo-group, .skill-group {
    &:after {
      content: ':';
      display: inline-block;
    }
  }

  .date {
    color: $date-orange;
    font-style: italic;
    text-align: right;
  }

  .nfo-group {
    padding-right: 1rem;
    color: $nfo-green;
  }

  a {
    color: $visited-link;

    &:hover {
      color: $hovered-link;
    }
  }

  div.row {
    padding-left: 10px;
    padding-right: 10px;
  }
}
