//@TODO partial bootstrap usage
@import "../node_modules/bootstrap/scss/bootstrap";


// our styles
figure {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

ul {
  margin-bottom: 0;
  padding-left: 1rem;
}

html {
  font-size: 95%;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-family: Roboto Mono,monospace;
  color: #dcdcdc;
  text-shadow: 1px 1px #000;
  background: #762c67;
}

main {
  padding-top: 1rem;
}

@media (min-width: 576px) {
  #experience {
    [class^="col-"] {
      order: 3;
    }

    .company-name {
      order: 1;
    }
    .date {
      order: 2
    }
  }
}

.description {
  color: gray;
}


.terminal {
  box-shadow: 0 0 10px 1px rgba(0,0,0,.65);

  a {
    color: #8b5b85;

    &:hover {
      color: #1585cf;
    }
  }

  div.row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.terminal-body {
  background: #000;
}

.nfo-group, .skill-group {
  &:after {
    content: ':';
    display: inline-block;
  }
}

.nfo-group {
  padding-right: 1rem;
  color: #65985f;
}

.skill-group {
  padding-right: 1rem;
  font-weight: bold;
}

.date {
  color: #d3781f;
  font-style: italic;
  text-align: right;
}
